<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Schrott-BILY</title>
    <style>
      .collapsible {
        background-color: #777;
        color: black;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
      }
      
      .active, .collapsible:hover {
        background-color: #555;
      }
      
      .collapsible:after {
        content: '\002B';
        color: white;
        font-weight: bold;
        float: right;
        margin-left: 5px;
      }
      
      .active:after {
        content: "\2212";
      }
      
      .content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #f1f1f1;
      }

      .center{
        margin-left: auto;
        margin-right: auto;
      }
      #btnTop {
      display: none;
      position: fixed;
      bottom: 50px;
      right: 20px;
      z-index: 99;
      font-size: 18px;
      border: none;
      outline: none;
      background-color:cyan;
      color: white;
      cursor: pointer;
      padding: 15px;
      border-radius: 1px;

    }

    #myBtn:btnTop {
      background-color: #555;
    }
      </style>
</head>
<body>
    <div class="card bg-primary">
      <div class="container">
        <div style="clear: both;text-align: center;">
          <h3 style="display: inline; color: black;">Schr</h3>
          <h3 style="display: inline; color: red;">ott-</h3>
          <h3 style="display: inline; color: yellow;">BILY</h3>
          <span style="font-size: 2em;">
            <i class="bi bi-truck"></i>
          </span>
        </div>
      </div>
    </div>
    
    <div class="card bg-primary card-expand">
      <div style="align-content: center;">
        <h5 style="color: white;">Willst du etwas fallen lassen?<span>&#9990;+4915175571067</span></h5>
        <h5 style="color: white;">Möchten Sie Möbel auf einer Reichweite von 200 km bewegen?<span>&#9990;+491784940873</span></h5>
      </div>
    </div>
    <div class="row" style="text-align: center;">
      <div class="col" style="background-image: url('http://localhost:8887/views/j.jpg'); background-size: cover; height: 250px;"></div>
      <div class="col" style="background-image: url('http://localhost:8887/views/image.jpg'); background-size: cover; height: 250px;"></div>
      <div class="col" style="background-image: url('http://localhost:8887/views/i.jpg'); background-size: cover;height: 250px;"></div>
    </div>
    <div class="card bg-light card-expand">
      <div style="align-content: center;">
        <p style="text-align: center;"><b>
          Wenn Sie Möbel bewegen müssen, können wir Ihnen über eine Reichweite von 200 km rund um Dortmund helfen
        </b>
        </p>
      </div>
    </div>
    <div class="card bg-light card-expand card-expand-md">
      <div style="align-content: center;">
          <h5 style="text-align: center;"><b>Wir handeln an den nächsten Standorten</b></h5>
          <div class="col-md-12 col-12 col-xs-12">
            <table class="center" style="background-image: url('http://localhost:8887/views/images.jpg'); background-size: cover; height: 200px;">
              <tr>
                <td><li>Bochum</li>         
                </td>
                <td><li style="display: list-item">Märkischer-Kreis</li>         
                </td>
              </tr>
              <tr>
                <td><li>Bottrop</li>         
                </td>
                <td><li style="display: list-item">Kreis Mettmann</li>         
                </td>
              </tr>
              <tr>
                <td><li>Dortmund</li>         
                </td>
                <td><li style="display: list-item">Mönchengladbach</li>         
                </td>
              </tr>
              <tr>
                <td><li>Duisburg</li>         
                </td>
                <td><li style="display: list-item">Mülheim an der Ruhr</li>         
                </td>
              </tr>
              <tr>
                <td><li>Düsseldorf</li>         
                </td>
                <td><li style="display: list-item">Rhein-Kreis Neuss</li>         
                </td>
              </tr>
              <tr>
                <td><li>Ennepe-Ruhr-Kreis</li>         
                </td>
                <td><li style="display: list-item">Oberhausen</li>         
                </td>
              </tr>
              <tr>
                <td><li>Essen</li>         
                </td>
                <td><li style="display: list-item">Kreis Recklinghausen</li>         
                </td>
              </tr>
              <tr>
                <td><li>Gelsenkirchen</li>         
                </td>
                <td><li style="display: list-item">Remscheid</li>         
                </td>
              </tr>
              <tr>
                <td><li>Hagen</li>         
                </td>
                <td><li style="display: list-item">Solingen</li>         
                </td>
              </tr>
              <tr>
                <td><li>Herne</li>         
                </td>
                <td><li style="display: list-item">Kreis Unna</li>         
                </td>
              </tr>
              <tr>
                <td><li>Krefeld</li>         
                </td>
                <td><li style="display: list-item">Kreis Wesel</li>         
                </td>
              </tr>
            </table>
          </div>          
      </div>
    </div>    
    <div class="card bg-light card-expand card-expand-md">
      <div class="align-content: center;">
        <h5 style="text-align: center;">Entrümpelung Häusern:</h5>
      <div class="col-md-12 col-12 col-xs-12">
        <table class="center">
          <tr>
            <td><li>Bad- und Sanitärarmaturen</li></td>
            <td><li style="display:list-item">Töpfe, Pfannen, Besteck</li></td>          
          </tr>
          <tr>
            <td><li>Badewannen</li></td>
            <td><li style="display:list-item">Gitterroste</li></td>          
          </tr>
          <tr>
            <td><li>Kupferrohre</li></td>
            <td><li style="display:list-item">Metallregale</li></td>          
          </tr>
          <tr>
            <td><li>Kabel aller Art</li></td>
            <td><li style="display:list-item">Gartenmöbel aus Metall</li></td>          
          </tr>
          <tr>
            <td><li>Backofen, Herd</li></td>
            <td><li style="display:list-item">Garagentore</li></td>          
          </tr>
          <tr>
            <td><li>Edelstahlspülen</li></td>
            <td><li style="display:list-item">Metallzäune</li></td>          
          </tr>
          <tr>
            <td><li>Nähmaschine</li></td>
            <td><li style="display: list-item;">Rasenmäher</li></td>
          </tr>
          <tr>
            <td><li>Alu-Jalousien</li></td>
            <td><li style="display: list-item;">Fenster, Stahltüren</li></td>
          </tr>
          <tr>
            <td><li>Stehleiter</li></td>
            <td><li style="display: list-item;">Edelstahlgeländer</li></td>
          </tr>
          <tr>
            <td><li>Bügelbrett, Bügeleisen</li></td>
            <td><li style="display: list-item;">Fitnessgeräte, Hanteln</li></td>
          </tr>
          <tr>
            <td><li>Stahlschränke, Tresore</li></td>
            <td><li style="display: list-item;">altes Handwerkzeug</li></td>
          </tr>
          <tr>
            <td><li>Stahlkaminofen, Grill</li></td>
            <td><li style="display: list-item;">CD-Ständer aus Metall</li></td>
          </tr>
          <tr>
            <td><li>Waschmaschinen, Trockner</li></td>
            <td><li style="display: list-item;">Wäscheständer</li></td>
          </tr>
          <tr>
            <td><li>Dunstabzugshaube</li></td>
            <td><li style="display: list-item;">Kannen, Krüge</li></td>
          </tr>
          <tr>
            <td><li>Bilderrahmen aus Metall</li></td>
            <td><li style="display: list-item;">Rollator, Gehhilfe</li></td>
          </tr>
        </table>
      </div>
      </div>
    </div>
    <div class="card bg-light card-expand card-expand-md">
      <h5 style="text-align: center;">Entrümpelung Ihrem Hof:</h5>
      <div class="col-md-12 col-12 col-xs-12">
        <table class="center">
          <tr>
            <td><li>Heizkörper</li></td>
            <td><li style="display:list-item">Töpfe, Pfannen, Besteck</li></td>          
          </tr>
          <tr>
            <td><li>Gitterroste</li></td>
            <td><li style="display:list-item">Eisenstangen</li></td>          
          </tr>
          <tr>
            <td><li>Kupferrohre</li></td>
            <td><li style="display:list-item">Metallregale</li></td>          
          </tr>
          <tr>
            <td><li>Elektromotoren</li></td>
            <td><li style="display: list-item;">Dachrinnen</li></td>
          </tr>
          <tr>
            <td><li>Wellblech</li></td>
            <td><li style="display: list-item;">Schaufel und Spaten</li></td>
          </tr>
          <tr>
            <td><li>Stahlketten</li></td>
            <td><li style="display: list-item;">Kompressor, Pumpe</li></td>
          </tr>
          <tr>
            <td><li>Kettensäge</li></td>
            <td><li style="display: list-item;">Schubkarre</li></td>
          </tr>
          <tr>
            <td><li>Rutsche, Schaukel</li></td>
            <td><li style="display: list-item;">Satellitenschüssel</li></td>
          </tr>
          <tr>
            <td><li>Ventilatoren</li></td>
            <td><li style="display: list-item;">Schrauben, Nägel</li></td>
          </tr>
          <tr>
            <td><li>ramponierte Fahrräder</li></td>
            <td><li style="display: list-item;">Batterien, z.B. von KFZ</li></td>
          </tr>
          <tr>
            <td><li>Alufelgen, Bremsscheiben</li></td>
            <td><li style="display: list-item;">Moped, Roller</li></td>
          </tr>
          <tr>
            <td><li>Auspuffanlage</li></td>
            <td><li style="display: list-item;">Zinkeimer, Zinkgießkanne</li></td>
          </tr>
          <tr>
            <td><li>CD-Ständer aus Metall</li></td>
            <td><li style="display: list-item;">Zementmischer</li></td>
          </tr>
          <tr>
            <td><li>Edelstahl Briefkasten</li></td>
            <td><li style="display: list-item;">Stahlplatten, Stahlträger</li></td>
          </tr>
        </table>
      </div>
    </div>
    <button onclick="topFunction()" id="btnTop" title="Go to top">Oben</button>

    <footer class="bg-primary">
      <p style="color: white; margin-left: 5%; display: inline;">Kontakt:</p><br> 
      <p style="color: white; margin-left: 10%; display: inline;">Mail:</p> <a href="mailto:hege@example.com" style="color: white;">schrottbily@gmail.com</a><br>
      <p style="color: white; margin-left: 10%; display: inline;">Telefonnummer für Entrümpelung:</p><br><p style="color: white;margin-left: 10%; display: inline;"><span>&#9990;+4915175571067</span></p><br>
      <p style="color: white; margin-left: 10%; display: inline;">Telefonnummer für den Umzug von Möbeln:</p><br><p style="color: white;margin-left: 10%; display: inline;"><span>&#9990;+491784940873</span></p>
    </footer>
    <script>
    var mybutton = document.getElementById("btnTop");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
    </script>
</body>
</html>